.text-center{
    text-align: center;
}

.button{
    width: 221px;
    height: 77px;
    border: none;
    border-radius: 20px;
    font-size: 32px;
}

.button-white{
    background-color: white;
}

.button-black {
    background-color: black;
    color: white;
}

.button-flex{
    display: flex;
    justify-content: center;
    gap: 50px;
}

